<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/forgetpassword.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Forgot Password</title>
</head>
<body>

<div class="content">
    <div class="page-icon">
        <span class="material-symbols-outlined">key</span>
    </div>
    <h1>Forgot password?</h1>
    <p>No worries, we'll send you reset instructions.</p>

    <form>
        <p>Email</p>
        <input placeholder="Enter your email">
        <input type="submit" value="Reset password" style="background: var(--green-sea); color:white; font-weight: 600; font-family: 'Readex Pro';">
    </form>

    <a href="/login"><span class="material-symbols-outlined">west</span>Back to log in</a>
</div>
    
</body>
</html>