<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/dashboard_style.css">
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=block:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>

<div class="modal hide" id="modal">
    <div class="modal-content">
        {% block modal %}{% endblock %}
    </div>
</div>

<div class="sidebar">
    <div class="website-title">
        <img src="/static/uploads/QearnLogo.png">
        <h1>qearn</h1>
    </div>
    <hr>
    <br>
    <p class="sidebar-title" style="margin-top: 30px">Menu</p>
    <div class="option" data-area="home">
        <div class="icon-div"><p class="material-symbols-outlined">home</p></div>
        Home
        <div class="selected"></div>
    </div>
    <div class="option" data-area="classes">
        <div class="icon-div"><p class="material-symbols-outlined">school</p></div>
        Classes
        <div class="selected"></div>
    </div>
    {% if g.user['AccountType'] == 'teacher' %}
    <div class="option" data-area="review">
        <div class="icon-div"><p class="material-symbols-outlined">assignment</p></div>
        Review
        <div class="selected"></div>
    </div>
    <div class="option" data-area="create">
        <div class="icon-div"><p class="material-symbols-outlined">add_circle_outline</p></div>
        Create
        <div class="selected"></div>
    </div>
    {% endif %}
    <!-- <div class="option" data-area="quizzes">
        <div class="icon-div"><p class="material-symbols-outlined">analytics</p></div>
        Quizzes
        <div class="selected"></div>
    </div> -->
    <p class="sidebar-title">General</p>
    <!-- <div class="option" data-area="help">
        <div class="icon-div"><p class="material-symbols-outlined">help</p></div>
        Help
        <div class="selected"></div>
    </div> -->
    <div class="option" data-area="settings">
        <div class="icon-div"><p class="material-symbols-outlined">settings</p></div>
        Settings
        <div class="selected"></div>
    </div>

    <img class="sidebar-wave" src="/static/uploads/SidebarWave.svg">

    <!-- <a href="/logout" class="logout">
        <div>
            <span class="material-symbols-outlined">logout</span>
            Log out
        </div>
    </a> -->

    <!-- <hr style="position: absolute; bottom: 90px;"> -->
    <!-- <div class="option"><span class="material-symbols-outlined">dashboard</span>Dashboard</div>
    <div class="option"><span class="material-symbols-outlined">school</span>Classes</div>
    <div class="option"><span class="material-symbols-outlined">assignment</span>History</div>
    <div class="option"><span class="material-symbols-outlined">analytics</span>Quizzes</div>
    <div class="option"><span class="material-symbols-outlined">settings</span>Settings</div> -->
</div>

<div class="content-container">

    {% block content %}{% endblock %}

</div>

<div class="info-container">
    <a href="/logout">
        Logout
        <span class="material-symbols-outlined">logout</span>
    </a>
    <div class="side-profile">
        <img src="{{ url_for('static', filename=('users/' + (g.user['ProfilePicture']))) }}">
        <div>
            <h3>{{ g.user['FirstName'] }} {{ g.user['LastName'] }}</h3>
            <p>{{ session['SchoolName'] }}</p>    
        </div>
    </div>
    <div class="notifications hide">
        <div class="topbar">
            Notifications
            <span class="material-symbols-outlined">notifications</span>
        </div>
        <div class="content">
            <div>
                <div class="icon">
                    <span class="material-symbols-outlined">class</span>
                </div>
                <div class="message">
                    <p class="title">Computer Science</p>
                    <p class="subtext">added to class</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script src="/static/dashboard_js.js"></script>

</html> 