{% extends 'dashboard/base.html' %}

{% block content %}

<h2 class="title">Settings</h2>

<!-- <div class="settings-description">
    <h3>Profile</h3>
    <p>Update your profile picture and personal details here.</p>
</div> -->

<!-- <div id="settings-containers">
    <div class="setting-container" id="profile">
        <hr>
        <div>
            <p>Profile Picture</p>
            <div class="profile-picture-container">
                <img class="profile-img" src="static/uploads/temp_pfp.png">
            </div>
            <a>Update</a>
            <a>Delete</a>
        </div>
        <hr>
        <div>
            <p>Full Name</p>
            <input>
        </div>
        <hr>
        <div>
            <p>Full Name</p>
            <input>
        </div>
    </div>
</div> -->

<div class="settings-containers">
    <div class="container">
        <h3 class="title">Profile Details</h3>
        <div class="profile-picture">
            <img src="/static/uploads/temp_pfp.png">
            <div>Upload Profile Photo</div>
            <div>Delete</div>
        </div>
        <div class="user-data">
            <div>
                <label for="first-name">First Name</label>
                <input placeholder="Enter your first name" type="text" id="first-name">
            </div>
            <div>
                <label for="last-name">Last Name</label>
                <input placeholder="Enter your last name" type="text" id="last-name">
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="title">Email</h3>
        <div class="user-data">
            <div>
                <label for="first-name">Email</label>
                <input placeholder="Enter your email" type="text" id="first-name">
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="title">Password</h3>
    </div>
</div>

{% endblock %}