{% extends 'dashboard/base.html' %}

{% block content %}

<h2 class="title">Settings</h2>

<!-- <div class="settings-description">
    <h3>Profile</h3>
    <p>Update your profile picture and personal details here.</p>
</div> -->

<div id="settings-containers">
    <div class="setting-container" id="profile">
        <hr>
        <div>
            <p>Profile Picture</p>
            <div class="profile-picture-container">
                <img class="profile-img" src="static/uploads/temp_pfp.png">
            </div>
            <a>Update</a>
            <a>Delete</a>
        </div>
        <hr>
        <div>
            <p>Full Name</p>
            <input>
        </div>
        <hr>
        <div>
            <p>Full Name</p>
            <input>
        </div>
    </div>
</div>

{% endblock %}