<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/landing_style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="z-index: -1; position: absolute; top: 30px;" preserveAspectRatio="none" viewBox="0 0 1 1" width="100%" height="100%"><path fill="rgb(96,155,113)" d=" M 0 0 L 1 0 L 1 0.5 L 0 0.8 L 0 0 Z "></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="z-index: -1; position: absolute;" preserveAspectRatio="none" viewBox="0 0 1 1" width="100%" height="100%"><path fill="rgb(107,174,126)" d=" M 0 0 L 1 0 L 1 0.5 L 0 0.8 L 0 0 Z "></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="z-index: -1; position: absolute; left: -5%;" preserveAspectRatio="none" viewBox="0 0 1 0.077" width="110%" height="100px"><path d=" M 0.016 0.057 C 0.048 0.089 0.117 0.071 0.135 0.067 C 0.154 0.063 0.207 0.041 0.279 0.048 C 0.35 0.055 0.432 0.082 0.497 0.076 C 0.58 0.069 0.624 0.057 0.708 0.057 C 0.793 0.057 0.902 0.087 0.967 0.057 Q 1.033 0.027 0.967 0 L 0.016 0 Q -0.016 0.025 0.016 0.057 Z " fill="rgb(255,255,255)"/></svg>
<nav class="index_topbar">
    <p style="font-size: 25px; color: rgb(107,174,126);">qearn</p>
    <div class="center_buttons">
        <!-- <a href="#home" class="active"><p>Home</p><div></div></a>
        <a href="#about"><p>About</p><div></div></a>
        <a href="#quizzes"><p>Quizzes</p><div></div></a> -->
    </div>
    <div class="account_buttons" style="font-size: 20px;">
        <a href="/login" style="color: rgb(107,174,126)">Login</a>
        <a href="/register?type=student" style="color: white"><div class="sign-up_button">Signup</div></a>
    </div>
   
</nav>

<div style="width: 100%; display: flex; height: 65vh;">
    <div style="width: 40%; align-content: center; display: grid; font-family: 'Readex Pro'; padding-left: 80px; color: white;">
        <h1 style="font-weight: 600; font-size: 3vw; margin-bottom: 0px;">Learning through 
        <br>quizzing, made fun</h1>
        <p style="font-weight: 400; opacity: 50%; font-size: 1.2vw; margin-bottom: 7vh;">We provide the best solution to bring quizzing 
        <br>into your school with a system built for all levels 
        <br>of ability</p>
        <!-- OLD SCHOOL NAME SYSTE  <div style="display: flex;">
            <input class="school_input" type="text" id="fname" name="fname">
            <input class="school_submit" type="submit" value="Get Started">    
        </div> -->

        <div style="display: flex; gap: 20px;" class="main_buttons">
            <a href="/register?type=student" style="color: rgb(70, 70, 70);"><div class="get-started_button">Get Started</div></a>
            <a href="/" style="color: white"><div class="view-quizzes_button">View Quizzes</div></a>        
        </div>
        
        
    </div>
    <div style="width: 60%; display: flex; justify-content: center; float: right">
        <img src="static/uploads/landing_page_vector.png" style="object-fit: contain;"></img>    
    </div>
</div>

</body>
</html> 