<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/student_quiz_style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>

<div class="settings">
    <span class="material-symbols-outlined">settings</span>
</div>

<div class="timer">
    <h1></h1>
</div>

<div class="pages">
    <div class="page" id="pre-start">
        <img class="background" src="/static/uploads/StudentQuizBackground.png">

        <img src="/static/uploads/QearnLogo.png">
        <div class="quiz-data">
            <div class="quiz-thumbnail">
                <img src="https://images1.content-hci.com/commimg/myhotcourses/blog/post/myhc_89683.jpg">
                <div class="gradient"></div>
                <h1>{{ quiz['Name'] }}</h1>
                <p class="class-name">Computer Science</p>
                <p class="class-group">Year 13</p>
            </div>
            <div class="quiz-info">
                <div>
                    <h1>10</h1>
                    <p>Questions</p>
                </div>
                <div>
                    <h1>2</h1>
                    <p>Previous Plays</p>
                </div>
            </div>
        </div>
        
        <h3>Waiting for teacher to start...</h3>
    </div>

    <div class="page hide" id="question">
        <div class="question-data">
            <img src="https://images1.content-hci.com/commimg/myhotcourses/blog/post/myhc_89683.jpg">
            <div class="data-box">
                <p><span id="current-question">Question 1</span> <span id="question-total">of 10</span></p>
                <h1>Question String</h1>
            </div>
        </div>
        <div class="answer">
            <div id="Basic" class="hide">
                <!-- <button>Answer 1</button>
                <button>Answer 2</button>
                <button>Answer 3</button>
                <button>Answer 4</button> -->
            </div>
        </div>
    </div>

    <div class="page hide" id="waiting">
        <div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <h1>Waiting for other students...</h1>
    </div>
    <div class="page answer-status-page hide" id="countdown">
        <div>
            <h1 style="color: var(--green-sea); margin: 0">3</h1>
        </div>
    </div>
    <div class="page answer-status-page hide" id="correct" style="background: #00C660;">
        <div class="icon-container">
            <span class="material-symbols-outlined" style="color: #00C660;">check</span>
        </div>
        <h1>CORRECT</h1>
        <h3 id="correct-user-score">+1000</h3>
    </div>
    <div class="page answer-status-page hide" id="incorrect" style="background: #BB0000;">
        <div class="icon-container">
            <span class="material-symbols-outlined" style="color: #BB0000;">clear</span>
        </div>
        <h1>INCORRECT</h1>
        <h3>The correct answer was</h3>
        <h4 class="correct-answer hide"></h4>
        <div class="correct-answer-container"></div>
    </div>
    <div class="page hide" id="end">
        <img class="background" src="/static/uploads/StudentQuizBackground.png">
        <div class="score-container">
            <h2 class="points">10000</h2>
            <h4 class="max-points">out of 11000</h4>

            <h2 class="message">Good job!</h2>
        </div>
        <a class="back-btn" href="/home"><span class="material-symbols-outlined">chevron_left</span>Back to dashboard</a>
    </div>

</div>

</body>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/static/student-quiz.js"></script>

</html> 