<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/teacher_quiz_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>Qearn</title>
</head>
<body>
    
<div class="pages">
    <div class="page" id="teacher-pre-start">
        <img src="/static/uploads/TeacherQuizBanner.png">
        <div class="topbar">
            <div>
                <p data-pageid="overview-page">Overview</p>
                <p data-pageid="players-page">Players</p>
                <p data-pageid="settings-page">Settings</p>
            </div>
            <!-- <div style="display: none;">
                <div>
                    <p>{{ classData['ClassGroup'] }}</p>
                    <h3>{{ classData['ClassName'] }}</h3>
                </div>
                <div>
                    <p>Game Code</p>
                    <h3>{{ roomID }}</h3>
                </div>
            </div> -->
            <button id="start-button" type="text">Start Quiz</button>
        </div>

        <div class="content">
            <div id="overview-page"></div>
            <div id="players-page">
                <p><span id="connected-count">0</span> / {{classUsers|length}} students connected</p>
                {% for user in classUsers %}
                <div class="light-container unconnected" data-userid="{{ user['ID'] }}">
                    <div>
                        <img src="{{ url_for('static', filename=('users/' + (user['ProfilePicture']))) }}">
                        <h2>{{ user['FirstName'] }} {{ user['LastName'] }}</h2>
                    </div>
                    <h3>Waiting for student...</h3>
                </div>
                {% endfor %}
            </div>
            <form id="settings-page">
                <div class="light-container">
                    <h3>Delay between Questions</h3>
                    <input name="questionDelay" type="number" value="3" size="5" min="1" max="20">
                </div>
                <div class="light-container">
                    <h3>Duration of Questions</h3>
                    <input name="questionDuration" type="number" value="12" size="5" min="1" max="60">
                </div>
                <div class="light-container">
                    <h3>Time based Scoring</h3>
                    <input name="hasTimeBasedScoring" type="checkbox">
                </div>
            </form>
            <!-- <div class="players">
                <div class="title">
                    <h3>Connected Players</h3>
                    <p>0/{{ classUsers|length }}</p>
                </div>
                <div class="player-list">
                    {% for user in classUsers %}
                        <div class="player-container unconnected">
                            <p>{{ user['FirstName'] }} {{ user['LastName'] }}</p>
                            <span class="material-symbols-outlined">more_vert</span>
                        </div>
                    {% endfor %}
                </div>
            </div> -->
        </div>
    </div>
    <div class="page hide" id="question">
        <div class="topbar">
            <div>
                <div>
                    <p>Current Question</p>
                    <h3>1 / 10</h3>
                </div>
                <div>
                    <p>Question Time Left</p>
                    <h3>10</h3>
                </div>
            </div>
            <button id="abort-button" type="text">Abort Quiz</button>
        </div>
        <div class="content">
            <div class="current-question">
                <h1>What is the definition of a server?</h1>
                <p></p>
            </div>
            <div class="user-responses">
                <h3>Users</h3>
                <table>
                    <tr>
                        <th>Place</th>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Question Result</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>James Day</th>
                        <th>1000</th>
                        <th></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="page hide" id="end">
        <img class="background" src="/static/uploads/StudentQuizBackground.png">
        <div class="score-container">
            <h2 class="message">Quiz Ended</h2>
            <h4 class="max-points">Would you like to save this quiz</h4>
            <div>
                <button class="cancel-btn" onclick="window.location='/'">Cancel</button>
                <button class="save-btn">Save Quiz</button>
            </div>
        </div>
    </div>
</div>

</body>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/static/teacher-quiz.js"></script>

</html>