@import 'root.css';

body {
    margin: 15px;
    overflow: hidden;
    background: rgb(30, 30, 30);
}

.settings {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(74, 74, 74);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 50;
    position: absolute;
}
.settings span {
    font-size: 30px;
}

/* .timer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(74, 74, 74);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 50;
    position: absolute;
    right: 15px;
} */

.pages .background-image-left {
    position: absolute; 
    left: -20px; 
    bottom: -20px; 
    user-select: none;
    width: 70%;
}
.pages .background-image-right {
    position: absolute; 
    right: -20px; 
    top: -20px; 
    transform: rotate(180DEG); 
    user-select: none;
    width: 70%;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#pre-start, #end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
#pre-start > h3 {
    color: white;
    margin: 0;
}
#pre-start > img {
    width: 50px;
}
#pre-start > .background, #end > .background {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(30px);
}

.quiz-data {
    width: 700px;
    height: 350px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.quiz-thumbnail {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.quiz-info {
    width: 100%;
    display: flex;
    height: 50%;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.quiz-info > div {
    height: 100%;
    aspect-ratio: 1 / 1;
    background: var(--green-sea);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    padding-bottom: 15px;
    box-sizing: border-box;
}
.quiz-info > div > h1 {
    margin: 0;
    font-size: 55px;
}
.quiz-info > div > p {
    margin: 0;
}

.class-name {
    position: absolute;
    top: 10px;
    color: white;
    left: 10px;
    margin: 0;
    font-size: 20px;
}

.class-group {
    position: absolute;
    top: 10px;
    color: white;
    right: 10px;
    margin: 0;
    font-size: 20px;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--green-sea);
    opacity: 80%;
}

.quiz-thumbnail h1 {
    z-index: 2;
    color: white;
}
.quiz-thumbnail img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#questions {
    display: grid;
}

.quiz-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: blue;
    padding: 10px 0px 10px 0px;
}

#question, #countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(245, 245, 245);
}
#question > img {
    position: absolute;
    width: 100%;
    height: 25vh;
    top: 0;
}
.question > .timer {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--green-sea);
}

#question > .question {
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: min(900px, 95vw);
    text-align: center;
    background: white;
    z-index: 2;
    transform: translate(0, -50%);
    margin-top: 25vh;
}
#question > .question > p {
    margin: 0;
    margin-top: 20px;
    color: var(--green-sea);
    font-size: 20px;
}
#question > .question > h1 {
    opacity: 80%;
}

.question-data {
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative;
}

.question-data img {
    width: 100%;
    object-fit: cover;
}

.data-box {
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 70%;
    background: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    max-width: 600px;
    align-items: center;
}
.data-box p {
    margin: 0;
}
.data-box h1 {
    margin: 0;
}

.answer {
    width: min(900px, 95vw);
    height: 40vh;
}
.answer div {
    width: 100%;
    height: 100%;
}
.answer button {
    padding: 20px;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border: none;
    background: white;
    border-radius: 10px;
    font-size: 20px;
}
.answer button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.answer #Basic {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Waiting page */
#waiting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background: rgb(245, 245, 245);
}
#waiting > div {
    width: 100px;
    height: 100px;
    background: var(--green-sea);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    z-index: 2;
}

#waiting > div > div {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
}

#countdown > div {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#countdown > div.top-layer {
    width: 150px;
    height: 150px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    z-index: 3;
}
#countdown > div.middle-layer {
    width: 180px;
    height: 180px;
    background: var(--green-sea);
    z-index: 2;
    opacity: 50%;
}
#countdown > div.bottom-layer {
    width: 250px;
    height: 250px;
    background: var(--green-sea);
    opacity: 20%;
}

/* correct and incorrect page */
.answer-status-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;   
}
.answer-status-page > .icon-container {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer-status-page h1 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
}
.answer-status-page > h3 {
    margin: 0;
    font-size: 30px;
    color: black;
    opacity: 40%;
}
.answer-status-page > div span {
    font-size: 70px;
}
.answer-status-page .correct-answer {
    padding: 10px 20px 10px 20px;
    background: white;
    border-radius: 999px;
    color: black;
    margin: 0;
    margin-top: 15px;
    text-align: center;
    width: fit-content;
}
.answer-status-page .correct-answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

#end > .score-container {
    width: 450px;
    height: 300px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
#end .points {
    margin: 0;
    font-size: 80px;
    color: #116F5D;
}
#end .max-points {
    margin: 0;
    font-size: 20px;
}
#end .message {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    background: #116F5D;
    color: white;
    padding: 20px;
}
#end .back-btn {
    padding: 10px 20px 10px 20px;
    background: white;
    border-radius: 999px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    z-index: 2;
}