@import 'root.css';

body {
    background-color: var(--background-grey);
}

.hide {
    display: none !important;
}

#teacher-pre-start > img {
    position: absolute;
    top: -35px;
    width: 100%;
    height: 135px;
    left: 0;
}

.light-container {
    background: white;
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow-small);
    margin-bottom: 10px;
}

#players-page > p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}
#players-page > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#players-page > div.unconnected {
    opacity: 40%;
}
#players-page > div > div {
    display: flex;
    gap: 20px;
    align-items: center;
}
#players-page > div h3 {
    margin: 0;
    display: none;
}
#players-page > div.unconnected > h3 {
    display: block;
}
#players-page > div > div > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#players-page > div > div > h2 {
    margin: 0;
}

#settings-page > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#settings-page > div > h3 {
    margin: 0;
}
#settings-page > div > input[type=number] {
    padding: 12px;
    font-family: 'Readex Pro';
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    font-size: 20px;
}
#settings-page > div > input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.topbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
.topbar > div {
    display: flex;
    gap: 30px;
    font-size: 25px;
    color: white;
}
.topbar > div > p {
    opacity: 70%;
    cursor: pointer;
    padding-bottom: 5px;
}
.topbar > div > p.active {
    opacity: 100%;
    border-bottom: 3px solid white;
}

/* .topbar > div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.topbar > div > div {
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.topbar > div > div > p {
    margin: 0;
    opacity: 50%;
}
.topbar > div > div > h3 {
    margin: 0;
} */
.topbar > button {
    padding: 10px 30px 10px 30px;
    font-size: 22px;
    font-family: 'Readex Pro';
    background-color: white;
    border: none;
    border-radius: 10px;
    color: var(--green-sea);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.content {
    position: absolute;
    height: calc(100% - 100px);
    top: 100px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    padding-top: 20px;
}
.content .players {
    width: 300px;
    height: 100%;
    background: #16A086;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    padding: 15px;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
}

.content .players .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.content .players .title h3 {
    margin: 0;
}
.content .players .title p {
    margin: 0;
    opacity: 70%;
}

.content .players .player-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding-right: 10px;
}
.content .players .player-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: white;
    border-radius: 10px;
    color: black;
}
.content .players .player-container p {
    margin: 0;
}
.content .players .player-container.unconnected {
    opacity: 30%;
}

#question .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#question .current-question {
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    box-sizing: border-box;
}
#question .user-responses {
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}
.user-responses > h3 {
    margin: 0;
}

#end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#end > .background {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(30px);
}

#end > .score-container {
    width: 450px;
    height: 300px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
#end > .score-container > div {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
#end > .score-container > div > button {
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    font-family: 'Readex Pro';
    font-size: 18px;
    cursor: pointer;
}
#end > .score-container > div > .save-btn {
    border: none;
    background: var(--green-sea);
    color: white;
}
#end > .score-container > div > .cancel-btn {
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: none;
    color: rgba(0, 0, 0, 0.8);
}

#end .points {
    margin: 0;
    font-size: 80px;
    color: #116F5D;
}
#end .max-points {
    margin: 0;
    font-size: 20px;
}
#end .message {
    margin-top: 0px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    background: #116F5D;
    color: white;
    padding: 20px;
}
#end .back-btn {
    padding: 10px 20px 10px 20px;
    background: white;
    border-radius: 999px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    z-index: 2;
}